/*
-----------------------------------------------
Author      :   Imri Paloja
Email       :   imri.paloja@gmail.com
HomePage    :   www.eurobytes.nl
Version     :   0.1
Name        :   EuroCMS

CHANGED: Added to git

----------------------------------------------- 
*/

/* Framework */

html, body {
    background-color: #3F4C6B;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==");
}

body, h1, h2, h3, h4, h5, h6, table, b, ul, small {
    font-family: "Times New Roman",Georgia,Serif;   
    line-height:1.5em;
    font-size: 100%;
/*    margin: 0 auto;
*/    width: 100%;
    word-spacing: normal;
    z-index: 1;
    font-size:100%;
    text-indent: 0;
    text-align:justify;
}

::-webkit-scrollbar {
    width: 10px; height: 10px; 
}

::-webkit-scrollbar-track {
    background: #f9f9f9; 
}

::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-top: 1px solid #575757;
    border-bottom: 1px solid #575757; 
}

/* Selected txt*/

::selection {
   background-color: #0065A4;
   color: #FFFFFF;
}

::-moz-selection {
   background-color: #0065A4;
   color: #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6, table, form, details {
    font-size: 12px;
    text-indent: 0;
    width:100%;
    font-family: arial,helvetica,"liberation sans","dejavu sans condensed",sans-serif;
    line-height:1.5em;
    text-align:justify;
    vertical-align: baseline;
    color: #444444;
    word-spacing: normal;
    letter-spacing:0px;
}

b, strong {
    font-size: 100%;
    font-weight: bolder;
}

h1 {
    font-size: 190%;
    margin-top: 0;
}

h2 {
    font-size: 160%;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
}

h5 {
    font-size: 90%;
}

h6 {
    font-size: 80%;
}

h1, h2, h3, h4, h5, h6 {
    background-color: transparent;
    color: #454545;
}

a {
    color: #3465A4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Framework */

/* Outdated Browser */
#outdated {
    background-color: #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    height: 130px;
    list-style-type: none;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
}


#outdated li {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    float: left;
    font-size: 12px;
    height: 124px;
    margin: 0 10px;
    padding-left: 15px;
    padding-top: 5px;
    width: 250px;
}

#outdated li .description {
  margin: 7px 0px 16px -10px;
}

.company {
    float: right;
    margin-left: 10px;
    margin-top: -145px;
    text-align: center;
    width: 100px;
}

.company p {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  border-top: 1px solid #CCCCCC;
}

/* JavaScript not enabled */

#nojs {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
    float: left;
    left: 0;
    padding: 5px 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 2147483647;
}


#headernav {
    background-color: #F9F9F9;
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

#menuwrapper {
    border: 1px solid #CCCCCC;
}

#headernav ul {
    list-style-type: none;
}

#headernav ul li {
    float: left;
    padding: 2px 3px;
    text-transform: uppercase;
}


/* Inputs */

input,button {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0px 0px 0px 0px;
    background: linear-gradient(to bottom, #FFFFFF, #F9F9F9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: #454545;
    padding: 2px 3px;
    text-align: left;
}


input[type="submit"] {
    cursor: pointer;
}

input[type="submit"]:hover,button:hover {
    box-shadow: 0 1px 2px rgba(30, 25, 25, 0.2);
    background: linear-gradient(to bottom, #F9F9F9, #FFFFFF) repeat scroll 0 0 rgba(0, 0, 0, 75);
}

input[type="search"],input[type="text"],textarea, button {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    outline: 1px ;
    font-size: 13px;
    margin: 0;
    padding: 2px 3px;
}

input[type="search"]:hover,input[type="text"]:hover,textarea:hover,button:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}


input[type="search"]:focus,input[type="text"]:focus,textarea:focus,button:focus {
    border: 1px solid #3465A4;
}


input[type="search"]:active,input[type="text"]:active,button:active {
    border: 1px solid #3465A4;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) outset;
}

input:active,button:active {
    border: 1px solid #3465A4;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) outset;
}

body input[type="checkbox"], input[type="radio"] {
    border: 1px solid #CCCCCC;
    padding: 4px;
    border-radius: 10px;
}

select {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 0 3px;
}


/* Inputs*/

hr {
    border: 1px solid #CCCCCC;
}

#wrap {
    margin: 5% auto;
}

#content {
    background-color: #F9F9F9;
    background-image: url("http://www.eurobytes.nl/images/line.png");
    box-shadow: 2px 2px 2px 0 #000000;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 941px;
}

article {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    margin-bottom: 1%;
    padding: 5px;
    text-align: left;
}