/************************************************************************************
smaller than 1920
**************************************************************************************/
@media only screen and (min-width: 1920px) {





#wrap #content aside div.ad1, #wrap #content aside div#recentcomments, #wrap #content aside div#accounts, #wrap #content aside div#widget {
    margin: 20px 10% 10% 15%;
    padding: 0;
}

/*	#search {
		margin-top: -38px;
	}*/


/*	#menu, #menu ul {
		width: 99%;
	}*/

/*	.nav {
		width: 99%;
	}

	#add {
		margin-left: -26%;
    	width: 53px;
	}

	article {
		width: 71%;
	}

	aside {
	    margin-top: -3px;
	    width: 28.1%;
	}
*/


}
/************************************************************************************
smaller than 1920
**************************************************************************************/
@media only screen and (max-width: 1920px) {

/*	.nav {
		width: 99%;
	}

	#add {
		margin-left: -26%;
    	width: 53px;
	}

	article {
		width: 71%;
	}

	aside {
	    margin-top: -3px;
	    width: 28.1%;
	}
*/


}
/************************************************************************************
smaller than 1366x768
**************************************************************************************/
@media only screen and (max-width: 1366px) {

#wrap #content aside div.ad1, #wrap #content aside div#recentcomments, #wrap #content aside div#accounts, #wrap #content aside div#widget {
	margin: 10px 10px 10px 5px;
}





}

/************************************************************************************
smaller than 1280px
*************************************************************************************/

@media only screen and (max-width: 1280px) {

	#wrap #content aside div.ad1, #wrap #content aside div#recentcomments, #wrap #content aside div#accounts, #wrap #content aside div#widget {
		margin: 10px 10px 10px 5px;
}


	#wrap {
		width: 75%;
	}

}

/************************************************************************************
smaller than 1024px
*************************************************************************************/

@media only screen and (max-width: 1024px) {

}

/************************************************************************************
smaller than 1280px
*************************************************************************************/

@media only screen and (max-width: 1280px) {

/*	.nav {
		width: 100.5%;
	}*/

/*	#search {
		margin-top: -34px;
	}*/

/*	#add {
		width: 52px;
		margin-left: -26%;
	}*/

}



/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

	#wrap {
		width: 98%;
	}


	#navwrapper {
		width: 99.5%;
	}

/*	.nav {
		width: 97.6%;
	}*/

/*	#menu, #menu ul {
	width: 98.5%;
	}*/

/*	#search {
		width: 26%;
		margin: -33px 0px 0px 1px; 
	}*/

	#add {
		margin-left: -56px;
	}

	.widget {
		width: 240px;
	}

	#share {
		margin-top: -1.0%;
	}

/*	article {
		width: 69.8%;
	}*/

/*	nav {
		width: 99.4%;
	}*/

/*	#footernav {
		width: 96.6%;
	}*/

	footer {
		width: 97.4%;
	}
	 
}

/************************************************************************************
smaller than 800
*************************************************************************************/
@media screen and (max-width: 800px) {

	#wrap {
		width: 98%;
	}

	 #share {
	 	margin-top: -6px;
	 } 

	#topnav {
    	width: auto;
	}

/*	#menu, #menu ul {
		width: 96.7%;
	}*/

/*	#search {
	    margin: -32px 0 0 -261px;
	    position: absolute;
	    width: 216px;
	}*/

	 #navwrapper {
	 	width: 100%;
	 }

	 #search {
	 	width: 210px;
	 }

	 #add {
	 	margin-left: -53px;
	 }

/*	 article, #asidewrapper {
	 	width: 100%;
	 	float: none;
	 }*/



	 #disqus_thread {
	 	width: 100%;
	 }

	 #np {
	 	width: 100%;
	 }

	 #content {
	 	float: left;
	 }

	 aside {
	 	display: none;
/*		border-left: 1px solid #cccccc;
	    border-top: 0 none;
	    box-sizing: content-box;
	    float: left;
	    margin: -24px 0 0;
	    padding: 0 0 15px;
	    width: 100%;*/
	 }


	 article {
	 	width: 100%;
	 }

/*		article, aside {
		    box-sizing: border-box;
		    float: left;
		}*/

	 aside div {
	 	float: left;
	 }

	a#ask {
		float: none;
	}

	 #recentcomments {
	 	display: inline-block;
	 }

	 .ad1 {
	 	display: inline-block;
	 }

	 aside div {
	 	display: inline-table;
	 }

	 #footernav {
	 	float: left;
	 }

	 footer {
	 	width: 750px;
	 }
}


/************************************************************************************
 Navigation: smaller than 768
*************************************************************************************/

@media screen and (max-width: 768px) {


	#wrap {
		width: 92%;
	}

	header {
		text-align: left;
	}

	#site-description {
    text-align: left;
	}

	article {
		width: 100%;
	}

	#disqus_thread {
		width: 100%;
	}

	#wrap #content article #tableofcontent, .show_hide {
		display: none;
		opacity: 0;
		visibility:hidden;
	}

/* Testing */

	#share {
		border-bottom: 1px solid #CCCCCC;
		border-left: 1px solid #CCCCCC;
		margin-top: 0.8%;
		width: 99.8%;
	}

	#menu, #menu ul {
		width: 100px;
	}

	#menu li:hover ul {
	    color: #F9F9F9;
	    display: block;
	    margin-left: 65px;
	    margin-top: -27px;
	    position: absolute;
	}

	.nav {
		position: relative;
		min-height: 40px;
		margin: 0px;
		width: 100px;
	}	
		
	.nav ul {
		width: 180px;
		padding: 5px;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(/images/icon-menu.png) no-repeat 11px 5px;
		border-radius: 5px 5px 5px 5px;
   		box-shadow: 2px 2px 2px 0px #000000;
	}
	
	.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	.nav .current {
		display: block; /* show only current <li> item */
	}
	.nav a {
		display: block;
		padding: 0px 5px 5px 25px;
		text-align: left;
	}
	.nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	.nav ul:hover {
		background-image: none;
	}
	.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	.nav ul:hover .current {
		background: url(/images/icon-check.png) no-repeat 10px 2px;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}

	#search {
		background-color: #f9f9f9;
		border-radius: 5px;
		box-shadow: 2px 2px 2px 0 #000000;
		float: right;
		margin: -40px 0 0;
		overflow: hidden;
		padding: 3px 0;
		text-align: center;
		width: 175px;
	}


	 #search #searchbox {
	 	width: 125px;
	 }

	 #add {
	    height: 22px;
	    margin: 0 0 0 -3px;
	    padding: 0;
	    width: 40px;
	 }


/* Testing */

	footer {
		width: 95.8%;
	}


}


/************************************************************************************
 Navigation: smaller than 360
*************************************************************************************/

@media screen and (max-width: 360px) {

	header {
		text-align: left;
	}

	#site-description {
    text-align: left;
	}

	 #footernav {
	    height: 315px;
	    /*width: 91%;*/
	 }

	 #searchbox {
	 	width: 160px;
	 }

	 #add {
	 	margin-left: -41px;
    	width: 38px;
	 }

	 
	#footernav {
	    height: 345px;
	}

	#wrap {
	    margin: 1%;
   		width: 98%;
	}

	#share {
	    border-bottom: 1px solid #CCCCCC;
	    height: 20px;
	    list-style-type: none;
	    margin-bottom: 0;
	    overflow: hidden;
	    width: 99.6%;
	}


	a#validcss3, a#validhtml5 {
	margin: 0 10px 10px;
}

/*	nav {
		width: 98.4%;
	}
*/
	#menu, #menu ul {
	    height: auto;
	    width: 100px;
	}
	

	.article-image img {
/*	    margin-left: 0%;
	    width: ;*/
	}


	footer {
		width: 93.5%;
	}

	#highimage {
    margin-left: 13%;
	}
	
	#query {
    border: 1px solid #CCCCCC;
    padding-right: 10px;
    width: 50%;
	}


	.videoref {
    margin-left: 0;
    margin-top: -3%;
    width: 98.3%;
	}
	


	#vanity {
		margin-top: 40%;
	    width: 175px;
	}

}


/************************************************************************************
 Navigation: smaller than 320
*************************************************************************************/

@media screen and (max-width: 320px) {

	header {
		text-align: left;
	}

	#site-description {
    text-align: left;
	}


	 #wrap {
	 	margin: 1%;
	 }

	a[data-title]:hover:after {
	right: 12%;
	max-width: 200px;
	}

	.show_hide {
		margin-left: 63%;
	}

	#footernav {
		height: 345px;
	}

	 #search {
	    height: 27px;
	    margin-left: 120%;
	    margin-right: 0;
	    margin-top: -40px;
	    padding: 2px 0 25px;
	    width: 145px;
	 }

	 #searchbox {
	 	width: 160px;
	 }

	.nav {
		margin: 0;
		padding: 0;
		width: 45%;
	}

	#share li {
		padding: 5px 0 10px 7px;
	}

	#highimage {
    margin-left: 5%;
	}

/*	.video {
    margin-left: 0;
    width: 100%;
	}*/
	


	.vidsource {
	margin-top: -3%;
    margin-left: 0;
    width: 95.5%;	
	}



	footer {
		width: 290px;
	}	


	#vanity {
	    margin-top: 60%;
	    width: 175px;
	}


	article #found .article .article-meta .sshare {
		width: 100%;
	}



}
