.button {
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 25px;
    margin: 2px 3px;
    text-align: center;
    color: #000000;
}

.button a {
    border-left: 1px solid #CCCCCC;
    color: #FFFFFF;
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 75%;
}

#wrap #content .button a {
    text-decoration: none;
}

.file {
    background-color: #CC0000;
    height: 25px;
    margin: 5% auto;
    text-align: center;
}

.file:hover {
    background-color: rgba(204, 0, 0, 0.70);
}

.file a {
    float: right;
    width: 100%;
    color: #FFFFFF;
}

.file a:hover {
    text-decoration: none;
}


.itunes {
    background-color: #298CDA;
    background-image: url("../images/pshFG.png");
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: 35px auto;
    margin: 5% auto;
    text-align: center;
}

.itunes:hover {
    background-color: rgba(41, 140, 218, 0.70);
}

.itunes a {
    color: #FFFFFF;
}

.itunes a:hover {
    text-decoration: none;
}

.playstore {
    background-color: #B3C833;
    background-image: url("../images/google-play-store.png");
    background-position: 25% 50%;
    background-repeat: no-repeat;
    background-size: 35px auto;
    height: 25px;
    margin: 5% auto;
    text-align: center;
}

.playstore:hover {
    background-color: rgba(179, 200, 51,  0.70);
}

.playstore a {
    float: right;
    width: 100%;
    color: #FFFFFF;
}

.playstore a:hover {
    text-decoration: none;
}


/* Black Button */

.bb {
    background-color: #454545;
    height: 25px;
    margin: 5% auto;
    text-align: center;
}

.bb:hover {
    background-color: rgba(69, 69, 69, 0.70); 
}

.bb a {
    float: right;
    width: 100%;
    color: #FFFFFF;
}

.bb a:hover {
    text-decoration: none;
}