/*
-----------------------------------------------
Author	    :   Imri Paloja
Email	    :	imri.paloja@gmail.com
HomePage    :   www.eurobytes.nl
Version	    :   0.0.1
Name        :   eeditor.css (EuroEditor)

----------------------------------------------- 
*/



* {
    -webkit-transition: all 100ms ease;
    transition: all 200ms ease;
    color: #454545;
}

#editor {
	border: 1px solid #CCCCCC;
	padding: 2px 5px;
	min-height: 250px;
	background-color: #EEEEEE;
}

#editor[contentEditable="true"] {
	/*border: 2px solid #CCCCCC;*/
	/*padding: 2px;*/
}


#editor  {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    outline: 1px ;
    font-size: 13px;
    margin: 0;
    padding: 2px 3px;
}

.EuroButton {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    outline: 1px ;
    font-size: 13px;
    margin: 0;
    padding: 2px 3px;


    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    outline: none;
    border-radius: 0px 0px 0px 0px;

    background: linear-gradient(to bottom, #FFFFFF, #F9F9F9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #454545;
    padding: 2px 3px;
    text-align: center;
}

#editor:hover, .EuroButton:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

#EuroEditor #EuroButtons {
    background: linear-gradient(to bottom, #ffffff, #f9f9f9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    height: 40px;
    margin: 5px 0;
    padding: 5px 0;
}

#editor:focus, .EuroButton:focus {
    border: 1px solid #3465A4;
}

#EuroEditor #EuroButtons ul {
	list-style-type: none;
	padding: 0px;
}

#EuroEditor #EuroButtons ul li {
	float: left;
}

#EuroEditor #EuroButtons ul li a, button {
    float: left;
    height: 24px;
    margin: 1px 5px 0;
    padding: 2px 5px;
    text-decoration: none;
}



img {
	width: 75%;
}

a:active {
	outline: none;
}

