/*input {
    margin: 10px;
    padding: 2px 3px;
}*/
/*
    Style
*/

input {
    border: 1px solid #CCCCCC;
}

input[type="radio"] {
    border: 1px solid #CCCCCC;
    padding: 4px;
    border-radius: 10px;
    width: 13px;
/*    box-shadow: 2px 3px 3px 4px #CCCCCC;
*/}

div {
    box-shadow: 10px 10px 10px #CCCCCC;
}

input[type="range"] {
    background-color: #CCCCCC;
}

/* pointer */

input[type="reset"],input[type="submit"],input[type="button"] {
    cursor: pointer;
}

input:hover {
    background-color: rgba(0,0,0,0.10);
}

input:active {
    border: 1px solid rgba(0,0,0,0.25);
}

input[type="image"] {
    padding: 2px 10px;
}

body { transition-delay: 0s; }